#burger-Detail{
    width: 1000px;
    height: 1000px;
    margin: 100px auto;
    #contents{
        display: flex;
        #prod-img{
            width: 500px;
            height: 500px;
            display: grid;
            place-items: center;//grid랑 사용하면 안의 요소들이 중앙정렬
            background-color: #FAFAFA;
            img{
                width: 100%;
            }   
        }
        form{
            width: 50%;
            min-height: 100%;
            margin-left: 30px;
            position: relative;
            li{
                border-bottom: 1px solid black;
                padding: 10px 0px;
                &:nth-child(1){ padding-top: 0px; }
                #info,#sale-time{ 
                    color: gray; 
                    margin-top: 10px;
                    font-weight: bold;
                }

            }
            #option{
                div:nth-child(1){
                    display: flex;
                    justify-content: space-between;
                }   
                #option-ul{
                    padding-top: 10px;
                    padding-bottom: 80px;
                    li{
                        padding: 0px;
                        padding: 10px;
                        border: 0px;
                        display: flex;
                        justify-content: space-between;
                        div{
                            display: flex;
                            #option-count-btn{
                                float: right;
                                margin-left: 10px;
                                padding: 0px 5px;
                                display: flex;
                                border: 1px solid #D1D1D1;
                                border-radius: 50px;
                                button{
                                    border: 1px solid #000;
                                    width: 18px;
                                    border: 0px;
                                    font-size: 18px;
                                    font-weight: bold;
                                    background: rgba(0,0,0,0);
                                }
                            }
                        }
                    }
                }

            }
            #prod-count{
                display: flex;
                justify-content: space-between;
                #count-btn{
                    display: flex;
                    border: 1px solid #D1D1D1;
                    border-radius: 50px;
                    button{
                        width: 40px;
                        border: 0px;
                        font-size: 28px;
                        font-weight: bold;
                        background: rgba(0,0,0,0);
                    }
                }
            }
            #order{
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: absolute;
                bottom: 0px;
                background-color: #F2F2F2;
                #order-price{
                    display: inline-block;
                    padding: 10px 15px;
                    width: 40%;
                    span{
                        color: gray;
                        font-weight: bold;
                    }
                }
                #order-btn{
                    width: 70%;
                    display: grid;
                    place-items: center;
                    button{
                        border: 0px;
                        color: white;
                        padding:15px 25px;
                        font-size: 20px;
                        font-weight: 600;
                        margin-right: 10px;
                    }
                    #cartBtn{
                        background-color: #00A1E9;
                    }
                    #orderBtn{
                        background-color: #000;
                    }
                }
            }
        }
    }

    #menu-info{
        margin-top: 50px;
        .btn{
            width: 100%;
            background-color: white;
            border: 0px;
            #toggle-btn{
                display: flex;
                justify-content: space-between;
                width: 100%;
                border: 0px;
                border-bottom: 1px solid black;
                h2{
                    font-weight: 500;
                    margin: 10px;
                }
                &>button{
                    font-size: 40px;
                    font-weight: 100;
                    background-color: white;
                    margin-right: 30px;
                    border: 0px;
                }
            }
            #toggle{
                padding-bottom: 60px;
                // 영양정보
                table{ 
                    width: 100%;
                    border-collapse: collapse;
                    border-bottom: 2px solid black;
                    th{
                        height: 60px;
                        &[scope="row"]{
                            border-right: 1px solid black;
                            border-top: 1px solid #d1d1d1;
                            text-align: left;
                            padding-left: 10px;
                            width: 15%;
                        }
                    }
                    td{
                        border-top: 1px solid #d1d1d1;
                    }
                }
                // 알레르기 정보, 원산지정보`
                p{
                    text-align: left;
                    padding: 20px 10px; 
                    span{
                        color: gray;
                    }
                }

            }
        }
    }
}