
.detail_Promotion_Top{
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #000;
  padding: 30px 0;
  margin: 50px 0;

  .detail_Promotion_Title{
      font-size: 20px;
  }

  div{
    b{
      font-size: 24px;
      color: gray;
    }
    b:not(:first-of-type)::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 20px;
      margin: 0 14px 0 10px;
      vertical-align: middle;
      background: gray;
    }
  }
}


.detail_Promotion_Content{
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
}


.detail_Promotion_BtnArea{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;

  .Arrow_Btn{
    padding: 10px 40px;
    font-weight: 600;
    // font-size: 30px;
    border: none;
    border-radius: 100%;
    background-color: #ddd;
    line-height: 70px;  
  }
  
  .List_Btn{
    border: none;
    border-radius: 70px;
    background-color: #ffbc0d;
    padding: 0 40px;
    font-weight: 600;
    font-size: 15px;
    line-height: 90px;
  }
}
