.prod-detail {
  margin: 0 auto;
  width: 1000px;
  h1{
    text-align: center;
    margin: 8px 0px;
  }
  #prod-information{
    display: flex;
    #img{
      margin-right: 20px;
      place-items: center;
      display: grid;
      #upload-img-placeholder{
        cursor: pointer;
        text-align: center;
        padding-bottom: 25px;
        border-radius: 4px;
        border: 1px solid #cccccc;
        width: 400px;
        height: 400px;
        place-items: center;
        display: grid;
      }
    }
    ul{
      width: 700px;
      li{
        display: flex;
        margin: 15px 0px;
        label{
          width: 120px;
        }
        input{
          width: 500px;
          padding: 5px;
        }
        textarea{
          padding: 5px;
          width: 500px;
        }
      }
      #sale-time{
        span{
          margin: 0px 10px;
        }
        input{
          width: 100px;
          border: 1px solid #000;
          text-align: center;
        }
      }
    }
  }
  #button{
    display: flex;
    justify-content: right;
    width: 100%;
    .button_detail{
      text-align: center;
      width: 100px;
      padding: 5px;
      font-size: 20px;
      font-weight: bold;
      margin: 10px;
      border: 0px;
      color: white;
      border-radius: 10px;
    }
    #save-button{
      background-color: #ffbc0d;
    }
    #cancel-button{
      background-color: #f44336;
    }
  }
}