/* 여기는 건들지 마세요 */
/* 싫어요. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SpeedeeK, "Malgun Gothic", "맑은 고딕", Dotum, 돋움, Arial, sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

.inner{
  width: 1168px;
  margin:  auto;
  text-align: center;
  /* z-index: 1; */
}
