#product {
  width: 360px;
  height: 400px;
  display: block;
  background-color: #f8f8f8;
  border: 1px solid white;
  border-radius: 10px;
  &:hover {
    border: 1px solid orange;
    background-color: white;
  }
  img {
    width: 300px;
    height: 250px;
    margin: 20px auto;
    display: block;
  }
  #prd-name {
    text-align: center;
    h3 {
      margin-bottom: 10px;
      font-weight: 600;
    }
    p {
      font-weight: bold;
      color: gray;
    }
  }
}
