
//맥드라이브 메인박스
.mcdrive-main{
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  line-height: 2.5;
}
//맥드라이브 텍스트 왼쪽
#mcdrive-text{
 text-align: left;
}

//맥드라이브 텍스트 p태그 위치조정
#mcdrive-text p{
  padding-top: 30px;
  padding-bottom: 50px;
  color: #808080;
  font-size: 16px;
 
}
//맥드라이브 2번째 메인박스
.mcdrive-mcd1{
  width: 1168px;
  margin: 0 auto;
  text-align: center;
}
//맥드라이브 a태그 버튼 (맥드라이브 매장 검색하기)
.mcdrive-a{
  background-color: #ffbc0d;
  line-height: 90px;
  border-radius: 50px;
  display: inline-block;
  font-weight: 600;
  padding: 0 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}

