.visual {
  display: flex;
  justify-content: space-between;
  margin: 13px;

  .button-container {
    display: flex;
    flex-direction: column;
    width: 30%;

    button {
      margin-bottom: 10px;
      padding: 8px 8px;
      cursor: pointer;
      background-color: rgb(255, 188, 13);
      color: rgb(0, 0, 0);
      font-weight: 900;
      font-size: 25px;
      border: none;
      border-radius: 4px;

      &.active {
        background-color: #f44336;
        color: white;
      }
    }

    .pagination2 {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      button {
        margin: 0 5px;
        padding: 20px 50px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
        color: rgb(0, 0, 0);
        border: solid 1px black;
        border-radius: 4px;
        font-size: 14px;
      }
    }
  }

  .selected-item-details {
    width: 65%;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 8px;

    h2 {
      margin-bottom: 30px;
      font-size: 50px;
      font-weight: 700;
    }

    p {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 600;
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }

    button {
      text-align: center;
      background-color: rgb(255, 188, 13);
      color: white;
      padding: 10px 20px;
      float: left;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      margin-left: 15px;
      font-size: 16px;
      transition: background-color 0.3s ease;

      &:first-child {
        margin-left: 40%;
      }

      &:hover{
        background-color:rgb(248, 215, 130);
      }
    
      &:last-child {
        background-color: #f44336;
        margin-right: 0;
      }
    }
  }
}

.edit-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  form {
    background-color: #fff;
    padding: 40px; /* 크기 늘림 */
    border-radius: 8px;
    position: relative;

    label {
      display: block;
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      padding: 12px; /* 크기 늘림 */
      margin-bottom: 15px; /* 간격 늘림 */
    }

    #content{
      height: 100px;
      white-space: pre-line;
    }

    button {
      background-color:rgb(255, 188, 13);
      color: #ffffff;
      margin-left: 15px;
      padding: 10px 20px;
      cursor: pointer;
      position: relative;
      left: 84%;

      &:hover{
        background-color:rgb(248, 215, 130);
      }
    }



    button:last-child {
      background-color: #f44336;
    }
  }
}
