//Mcart.css 박승균제작



//전체크기 
.Mcart-top{
  width: 1200px;
  margin: 0 auto;
}
//메인로고 (장바구니)
.Mcart-h2{
  padding-top: 30px;
  padding-bottom: 20px;
}

//로고버튼 (배달주문)
.Mcart-btn button{
  // float: left;
  width: 135px;
  font-size: 15px;
  font-weight: 600;
  height: 50px;
  // background-color: #f6f6f6;
  border: none;
  cursor: pointer;
}

//로고버튼 색
.Mcart-btn1{
  background-color: #ffe100;
}

// .midbox{
//   width: 1200px;
//   position: relative;
//   margin: 0 auto;
// }

//배달주소, 주소변경, 수령인 div박스
.Mcart-mid{
  border-top: 1px solid;
  border-bottom: 1px solid;
}

//보더 오른쪽 줄
.Mcart-mid li{
  border-right: 1px solid ;
  padding: 6px 30px;
}

//li마지막 오른쪽 보더 제거
.Mcart-mid li:last-child{
  border-right: none; 
}

//배달주소, 주소변경, 수령인 ul박스 
.Mcart-ul{
  display: flex;
  padding: 20px 0;
}


//Mcart 첫번째 li 박스
.Mcart-li1{
  width: 650px;
}

//Mcart p태그 (배달주소)
.Mcart-p{
  margin-top: 10px;
  font-weight: 600;
}


//Mcart 두번째 li 박스(주소변경)
.Mcart-li2{
  text-align: center;
  width: 200px;
  #bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:gray;
    border:1px solid red;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }
  
}


//Mcart-li2 안에 버튼 조절 (주소변경)
.Mcart-li2 button{
  background-color: #f2f2f2;
  border: none;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}


//버튼 마우스 올리면 색변경
.Mcart-li2 button:hover{
  background-color: white;
  border: 1px solid #e3e3e3;
}


//Mcart 세번째 li박스 안에 (수령인 밑에 input)
.Mcart-li3 input{
  background-color: #f2f2f2;
  border: 1px solid #e3e3e3;
  margin-top: 10px;
  width: 200px;
  height: 30px;
  margin-right: 10px;
}

//Mcart-li3 버튼 (변경)
.Mcart-li3 button{
  border: 1px solid #e3e3e3;
  height: 30px;
  width: 50px;
  cursor: pointer;
}

//Mcart-li3 마우스 올리면 색변경
.Mcart-li3 button:hover{
  background-color: white;
}


//h3 line-height
.Mcart-h3{
  line-height: 4;
  border-bottom: 1px solid #dbdbdb;
}


//Mcart 네번째 li (주문상품 박스)
.Mcart-li4{
  border-bottom: 1px solid #dbdbdb;
  position: relative;
  padding: 20px 0;
}

//Mcart 두번째 버튼 (x버튼)
.Mcart-btn2{
  //인라인 css로 변경
  // background-image: url(../../../../public/images/Mcart/icon_x_g.png); 
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background-size: cover;
  font-size: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: white;
}


//middle1 첫번째 박스 (이미지div)
.Mcart-middle1{
    float: left;
    width: 700px;
    border-right: 1px solid #dbdbdb;
}
//middle1 이미지
.Mcart-middle1 img{
  display: flex;
  float: left;
  width: 100px;
  background-color: #fafafa;
  height: 100px;
  margin-right: 30px;
}

//middle1안에 텍스트 (이미지옆에 텍스트)
.Mcart-txt{
  align-items: center;
  padding: 20px;
  line-height: 2;
  #options{
    display: flex;
    gap: 8px;
  }
}

//Mcart 두번째 middle2 박스 (-,+ ~원까지 박스)
.Mcart-middle2{
  // float: right;
    display: flex;
    height: 100px;
    align-items: center;
    // flex-wrap: wrap;
    // padding-right: 70px;
}

//middle2 p태그 위치조절 (~원)
.Mcart-middle2 p{
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    width: 150px;
}

//middle2안에 마이너스 플러스 박스
.Mcart-plusb{
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  border: 1px solid #D1D1D1;
  border-radius: 50px;
  
  //middle2안에 마이너스 플러스 버튼
  button{
  padding-bottom: 5px;
  width: 40px;
  border: 0px;
  font-size: 30px;
  font-weight: bold;
  background: rgba(0,0,0,0);
  cursor: pointer;
  }
}


//Mcart bottom박스 (총삼풍금액)
.Mcart-bottom{
  border-bottom: 1px solid ;
  line-height: 80px;
  text-align: right;
  
}

//Mcart-bottom span태그 사이즈 색변경 (총상품금액 ~원)
.Mcart-bottom span{
    font-size: 25px;
    font-weight: 700;
    color: #00a1e9;
    padding-left: 20px;
}


//Mcart-botbottom 박스 margin주기 (메뉴추가,주문하기 박스)
.Mcart-botbotton{
  margin-top: 50px;
  margin-bottom: 150px;
}


//botbottom button 크기
.Mcart-botbotton button{
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

//botbottom 첫번째 버튼 (메뉴추가)
.botbutton1{
  background-color: gray;
  border: 1px solid #e3e3e3;
  color: white;
  padding: 10px 15px ;
  font-size: 20px;
  font-weight: bold;
}

//botbottom 두번째 버튼 (주문하기)
.botbutton2{
  float: right;
  background-color: #000;
  color: #ffffff;
  border: none;
}
// 유재혁이 추가한거
.Mcart-top{
  .store-popup{
    position: absolute;
    z-index: 9999;
    background-color: white;
    border: 0px solid #000;
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    li{
      margin: 10px 0px;
      text-align: left;
      border: 0px solid #000;
      border-radius: 10px;
      background-color: #f8f8f8;
      p{
        font-weight: bold;
      }
    }
  }
}
