$black: black;
$white: white;
$red: red;

.farm-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .youtube-video {
    margin-bottom: 5vw;
    margin-top: 3vw;
  }

  .button-group {
    display: flex;

    button {
      padding: 1.1vw;
      margin-right: 2vw;
      cursor: pointer;
      color: $white;
      background-color: $black;
      border-radius: 10vw;
      border: none;
      font-size: 1.1rem;
      width: 20vw;

      > span {
        color: yellow;
      }

      &.selected {
        background-color: $red;
      }
    }
  }
}







//////////////material

.material-container {
  text-align: center;
  max-width: 70vw;
  margin-top: 3vw;

  > p {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10vw;
    background-color: rgb(241, 241, 241);
    padding: 1vw;
    max-width: 35vw;
    margin: 0 auto 1vw;
  }

  .materials-list {
    display: flex;
    justify-content: center;
    max-width: 70vw;

    .material-item {
      margin: 1vw;
      cursor: pointer;

      img {
        width: 6vw;
        height: auto;
        border-radius: 50%;
      }
    }
  }

  .material-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 4vw;
    max-width: 63vw;
    border: none;
    background-color: white;
    padding: 2vw;
    border-radius: 2vw;

    .material-image {
      flex: 1;
      img {
        width: cover;
        height: auto;
      }
    }
    
    .material-info {
      text-align: left;
      flex: 1;

      h2 {
        margin-bottom: 2vw;
      }

      p {
        margin-bottom: 2vw;
      }
    }
  }
}

////////safekeeping

.safekeeping-container {
  text-align: center;
  padding: 20px;
  max-width: 70vw;

  h1 {
    font-size: 1.8rem;
    margin: 2vw 0 2vw 2vw;
  }

  h3 {
    font-size: 1rem;
    color: #555;
    margin-bottom: 3vw;
    line-height: 1.8rem;
    color: gray;
  }

  .images-section {
    display: flex;
    justify-content: space-between;

    .image-set {
      text-align: center;
      margin: 0 10px;
      width: 100%;
      gap: 5;

      img {
        width: 100%;
        height: 45vh;
        border-radius: 2vw;
        margin-bottom: 10px;
      }

      h1 {
        font-size: 1.7rem;
        margin: 1vw 0;
        text-align: left;
      }

      h3 {
        font-size: 1rem;
        color: #777;
        text-align: left;
      }
    }
  }
}



/////////// Effort

.effort-container {
  max-width: 70%;

  .btnARa{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;

    > button{
      border: none;
      cursor: pointer;
      font-weight: 900;
      color: #fff;
      margin: 0 12px;
      background: #da0000;
      min-width: 200px;
      padding: 0 50px;
      font-size: 18px;
      line-height: 90px;
      border-radius: 90px;
    }
  }

  h1 {
    text-align: center;
    display: block;
    color: #292929;
    margin: 100px 0 30px;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 10px;
  }

  h3 {
    text-align: center;
    padding-top: 20px;
    line-height: 26px;
    font-size: 17px;
    margin-bottom: 20px;
    color: #777777;
  }

  .effort-category {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border-bottom: solid 1px rgb(151, 151, 151);

    h2 {
      width: 100%;
      padding-top: 20px;
      font-size: 24px;
      text-align: center;
      margin-bottom: 30px;
    }

    .yellowbox{
      border-top: 40px;
      width: 70%;
      margin: 0 auto;
      background: #ffbc0d;
      padding: 20px;
      border-radius: 15px;
      font-size: 14px;
      color: #292929;
      text-align: center;
      font-weight: 800;
      margin-bottom: 40px;
    }

    .effort-item {
      width: 48%;
      margin-bottom: 20px;
      padding: 15px;
      box-sizing: border-box;
      text-align: left;

      img {
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 0;
        vertical-align: top;
      }

      strong{
        float: left;
        font-size: 24px;
        font-weight: 900;
        margin: 35px 0 15px;
        line-height: 1.5;
      }


      p {
        padding-top: 20px;
        float: left;
        font-weight: 900;
        line-height: 30px;
        color: #6b6b6b;
      }
    }
  }
}
