$black: black;
$white: white;
$red: red;

.farm-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .youtube-video {
    margin-bottom: 5vw;
    margin-top: 3vw;
  }

  .button-group {
    display: flex;

    button {
      padding: 1.1vw;
      margin-right: 2vw;
      cursor: pointer;
      color: $white;
      background-color: $black;
      border-radius: 10vw;
      border: none;
      font-size: 1.1rem;
      width: 20vw;

      > span {
        color: yellow;
      }

      &.selected {
        background-color: $red;
      }
    }
  }
}







//////////////material

.material-container {
  text-align: center;
  max-width: 70vw;
  margin-top: 3vw;

  > p {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10vw;
    background-color: rgb(241, 241, 241);
    padding: 1vw;
    max-width: 35vw;
    margin: 0 auto 1vw;
  }

  .materials-list {
    display: flex;
    justify-content: center;
    max-width: 70vw;

    .material-item {
      margin: 1vw;
      cursor: pointer;

      img {
        width: 6vw;
        height: auto;
        border-radius: 50%;
      }
    }
  }

  .material-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 4vw;
    max-width: 63vw;
    border: none;
    background-color: white;
    padding: 2vw;
    border-radius: 2vw;

    .material-image {
      flex: 1;
      img {
        width: cover;
        height: auto;
      }
    }
    
    .material-info {
      text-align: left;
      flex: 1;

      h2 {
        margin-bottom: 2vw;
      }

      p {
        margin-bottom: 2vw;
      }
    }
  }
}

////////safekeeping

.safekeeping-container {
  text-align: center;
  padding: 20px;
  max-width: 70vw;

  h1 {
    font-size: 1.8rem;
    margin: 2vw 0 2vw 2vw;
  }

  h3 {
    font-size: 1rem;
    color: #555;
    margin-bottom: 3vw;
    line-height: 1.8rem;
    color: gray;
  }

  .images-section {
    display: flex;
    justify-content: space-between;

    .image-set {
      text-align: center;
      margin: 0 10px;
      width: 100%;
      gap: 5;

      img {
        width: 100%;
        height: 45vh;
        border-radius: 2vw;
        margin-bottom: 10px;
      }

      h1 {
        font-size: 1.7rem;
        margin: 1vw 0;
        text-align: left;
      }

      h3 {
        font-size: 1rem;
        color: #777;
        text-align: left;
      }
    }
  }
}



/////////// Effort

.effort-container {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 20px;
    color: #555;
  }

  .effort-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: solid 1px black;

    h2 {
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
      font-size: 1.5rem;
    }

    .effort-item {
      width: 48%;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      padding: 15px;
      box-sizing: border-box;
      text-align: left;

      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      h3 {
        margin-bottom: 10px;
        font-size: 1.2rem;
      }

      p {
        color: #777;
      }
    }
  }
}
