.botton_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
}

.btn_menu {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 2vw;

  &:hover {
    color: red;
  }
}

> .active {
  color: red;
  display: inline-block;
  border-bottom: 3px solid red;
  margin-bottom: 3px;
}
