.Login{
    margin: 200px auto;
    .hidden{
        display: none;
    }
    li{
        list-style: none;
    };
    a{
        color: blue;
    }
    #login-form{
        margin: 0 auto;
        width: 500px;
        #login-input{
            margin-top: 40px;
            margin-bottom: 20px;
            .input-li{
                margin: 20px auto;
                label{
                    color: gray;
                }
                input{
                    width: 100%;
                    border: 0px;
                    border-bottom: 1px solid black;
                    padding: 7px 5px;
                    outline:none;
                    font-size: 20px;
                    margin-bottom: 40px;
                    transition: border-color 0.5s;
                    &:focus {
                        border-color: orange; // 클릭시 border 색상 변경
                    }
                    &:focus::placeholder{//엣지에선 안됨
                        color:transparent;
                    }
                }
            }
        }
        #login-btn{
            border: 1px solid orange;
            margin: 20px 0px;
            width: 100%;
            height: 40px;
            background-color: orange;
            font-size: 17px;
            border-radius: 5px;
        }
        #login-footer{
            display: flex;
            gap: 10px;
            margin-top: 50px;
        }
    }
}