.recruit-container {
  display: flex;
  flex-direction: column;
}

.recruit-section {
  flex: 1;
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 80px 0;
  background: #f8f8f8;
  
  h1 {
    position: relative;
    width: 1168px;
    margin: 0 auto;
    padding-left: 290px;
    font-size: 20px;
    color: #292929;
  }

  h1:before{
    content: '';
    display: block;
    position: absolute;
    top: -80px;
    left: 70px;
    width: 160px;
    height: 215px;
    background: url(../../../../../public/images/Story/recruit1.png) 0 0 no-repeat;
  }
}

.recruit-set {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin: auto;
  overflow: hidden;
  width: 1168px;
  margin: 0 auto;
  padding-top: 60px;

  .recruit-item {
    padding-bottom: 80px;
    flex: 0.48;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    p {
      padding: 40px 0 30px;
      color: gray;
      line-height: 27px;
      font-weight: 800;
      margin-top: 10px;
    }

    > button {
      cursor: pointer;
      text-align: center;
      min-width: 172px;
      padding: 0 38px;
      font-size: 17px;
      font-weight: 900;
      line-height: 70px;
      border: none;
      border-radius: 70px;
      display: inline-block;
      color: #292929;
      background: #ffbc0d;
    }
  }
}