.jh_main{
  .navbtn{
    width: 800px;
    display: flex;
    justify-content: right;
    #jh_button {
      text-align: center;
      width: 89px;
      height: 36px;
      border-radius: 5px;
      padding: 6px 10px;
      font-size: 15px;
      margin-bottom: 1vw;
      color: white;
      background-color: rgb(255, 188, 13);
    }
  }
  .StoreTable{
    // border: 1px #a39485 solid;
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    width: 800px;

    .AdminMain {
      width: 800px;
    }
    
    thead {
      color: #000;
      background: rgb(255, 188, 13);
    }

    td, th {
      padding: 1em .5em;
      vertical-align: middle;
    }

    th {
      text-align: left;
    }

    td {
      border-bottom: 1px solid rgba(0,0,0,.1);
      background: #fff;
    }

    input[type=text]{
      // border: 0;
      padding: 10px 0;
    }

    .colIndex-0{
      border: 0;
      pointer-events: none;
    }

    tbody{
      tr{
        &.editing{
          .colIndex-1,
          .colIndex-2,
          .colIndex-3,
          .colIndex-4,
          .colIndex-6{
            border: 1px solid #000;
          }
        }
      }
    }
  }
  .pagination {
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
}