


//테이블(상품리스트 박스)
.asu-table{ 
  font-weight: 600;
  border-collapse : collapse; 
th,td{
      width: 150px;
      height: 50px;
      text-align: center;
      border: 1px solid #000;
    }
}


//박스별 색변경
  
  .col22{background-color: gray; width: 500px;}
 
  .col44{ background-color: gray; width: 500px; }
  
//칼로리 박스
.asu-cal{
  th{
    float: left;
    border: 1px solid white;
    background-color: white;
    padding-top: 8px;
    height: 40px;
  }
  input{
    width: 50px;
    float: left;
    margin:10px;
  }
}

 //tr 첫번째 박스(상품명(한국어), 상품명(영어))
.asu-tr1 input{
  text-align: left;
  float: left;
  width: 300px;
  margin-left: 20px;
}

//tr 두번째 박스(종류)
.asu-tr2 select{
  width: 300px;
  float: left;
  margin-left: 20px;
}

// tr 세번쨰 박스 (가격)
.asu-tr3{
  input{
  text-align: left;
  float: left;
  width: 300px;
  margin-left: 20px;
  }
  select{
  width: 300px;
  float: left;
  margin-left: 20px;
  }
}

//tr 네번쨰 박스 (상품설명)
.asu-tr4{
  input{
  width: 1000px;
  float: left;
  margin-left: 20px;
  }
}

//aus bottom 크기조절, 버튼 위치 사이즈 조절(상품수정, 취소버튼)
.asu-bottom{
  width: 1400px;
  margin: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

button{
    cursor: pointer;
    margin-right: 10px;
    width: 85px;
    background-color: #000;
    color: white;
    height: 40px;
  }
}


//이미지 파일 선택(CLICK HERE , 파일선택)
#chooseFile {
  background-color: white;
  margin-bottom: 5px;
}


