#adminProd{
  width: 1100px;
  #adminProd_header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    width: 100%;
    #uploadBtn{
      display: block;
      border-radius: 5px;
      width: 80px;
      background-color: blue;
      font-size: 15px;
      font-weight: bold;
      color: white;
      place-items: center;
      display: grid;
    }
  }
  .ProdTable{
    width: 100%;
    border: 1px #a39485 solid;
    font-size: .9em;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    thead {
      font-weight: bold;
      color: #fff;
      background: #ffbc0d;
      th{
        text-align: center;
        min-width: 50px;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.5rem;
        letter-spacing: 0.01071em;
        display: table-cell;
        vertical-align: inherit;
        border-bottom: 1px solid rgba(224, 224, 224, 1);
        text-align: center;
        padding: 16px;
        color: rgba(0, 0, 0, 0.87);
        padding: 1em .5em;
      }
    }
    tbody{
      #img_box{
        width: 200px;
        height: 150px;
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }
      tr{
        td {
          padding: 1em .5em;
          border-bottom: 1px solid rgba(0,0,0,.1);
          background: #fff;
        }
        td:nth-child(1){
          width: 50px;
          text-align: center;
        }
        td:nth-child(3){
          width: 120px;
          text-align: center;
        }
        td:nth-child(4){
          width: 80px;
          text-align: center;
        }
        td:nth-child(5){
          width: 400px;
        }
        td:nth-child(6){
          width: 100px;
        }
        td:nth-child(7),
        td:nth-child(8){
          width: 80px;
        }
        
        #editLink{
          display: block;
          border-radius: 5px;
          min-width: 60px;
          padding: 5px 0px;
          text-align: center;
          background-color: #ffbc0d;
          font-size: 15px;
          font-weight: bold;
          color: white;
        }
        #tableDeletebtn{
          border: 0px;
          display: block;
          border-radius: 5px;
          min-width: 60px;
          padding: 5px 0px;
          height: 32px;
          background-color: #f44336;
          font-size: 15px;
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}