
#Admin{
  display: grid;
  grid-template-areas:
  "header header header"
  "menu main main"
  "menu main main"
  "menu main main";
  
  #AdminMain{
    grid-area: main;
  }
  
  #AHeader{
    grid-area: header;
  }
  
  #AMenu{
    grid-area: menu;
  }
  
}