.tabcontainer{
  width: 100%;
  margin: 0 auto;
  position: relative;
  .Tabinput{
    width: 100%;
    position: relative;
    p{
      white-space: pre;
      font-size: 16px;
      color: rgb(128, 128, 128);
      font-weight: 500;
      line-height: 1.9;
    }
    .maincont{
      width: 247px;
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: top;
      margin-right: 45px;
    }
    .btdesc{
      width: 970px;
      margin: 70px 99px 0px;
      background: #da0000;
      border-radius: 30px;
      text-align: center;
      color: #fff;
      line-height: 60px;
      font-size: 16px;
      margin-bottom: 50px;
    }
  }
}