#container{
  width: 100%;

  .main-event{
    position: relative;
    max-width: 1900px;
    margin: 0 auto;

    .slider-container {
      margin-top: 141px;
      position: relative;
      overflow: hidden;
      width: 100%;
    }
    
    .slide {
      display: none;
      width: 100%;
      transition: opacity 0.5s ease; /* 부드러운 전환 효과 추가 */
    }
    
    .slide.active {
      display: block;
      opacity: 1;
    }
    
    .slide img,
    .slide video {
      width: 100%;
      height: auto;
    }
    
    .button-container {
      text-align: center;
      z-index: 1;
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
    }
    
    .prev-button,
    .next-button {
      width: 6%;
      border-radius: 5px;
      font-size: 50px;
      z-index: 1;
      background-color: #33333336;
      color: #fff;
      padding: 10px;
      border: none;
      cursor: pointer;
    }
    
    .timer {
      height: 14px; /* 타이머의 높이 설정 */
      width: 50%;
      background-color: rgb(255, 217, 0); /* 타이머의 배경색 설정 */
      position: absolute;
      bottom: 0;
      left: 0;
    }
    
    .slide {
      position: relative;
    }
    
    .play-pause-button,
    .stop-button,
    .resume-button {
      background-color: #333;
      color: #fff;
      padding: 10px;
      border: none;
      cursor: pointer;
      margin-top: 10px;
      margin-right: 10px;
    }
    
    .play-pause-button:hover,
    .stop-button:hover,
    .resume-button:hover,
    .prev-button:hover,
    .next-button:hover {
      background-color: rgba(63, 63, 63, 0.473);
    }
  }

  .mcmain{
    padding: 30px 0 60px;

    .mcinner{
      position: static!important;
      width: 1168px;
      margin: 0 auto;

      .aside{
        position: fixed;
        bottom: 110px;
        left: 49%;
        margin: 0 0 0 635px;
        z-index: 10;

        .scroll-to-top-button2 {
          border: none;
          display: block;
          width: 121px;
          height: 121px;
          overflow: hidden;
          cursor: pointer;
          text-indent: -9999px;
          background: url(../../public/images/Main/2.png) no-repeat center 0;
          margin-bottom: 20px;
        }
  
        .scroll-to-top-button3 {
          border: none;
          display: block;
          width: 121px;
          height: 121px;
          cursor: pointer;
          overflow: hidden;
          text-indent: -9999px;
          background: url(../../public/images/Main/111.png) no-repeat center 0;
          margin-bottom: 20px;
        }
      }

      .scroll-to-top-button {
        border: none;
        position: fixed;
        bottom: 45px;
        left: 50%;
        width: 51px;
        height: 48px;
        margin: 0 0 0 650px;
        cursor: pointer;
        text-indent: -9999px;
        font-size: 1px;
        z-index: 10;
        background: url(../../public/images/Main/3.png) no-repeat center 0;
      }
      
      .show-more-button {
        position: relative;
        display: block;
        margin: 100px auto 0; // 버튼을 가운데 정렬
        background-color: #ffcc00;
        padding: 10px 20px;
        border: none;
        border-radius: 50%;
        color: black;
        width: 5vw;
        height: 5vw;
        cursor: pointer;
        text-align: center; // 텍스트를 가운데 정렬
      
        span {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%); // 텍스트를 수직, 수평 정렬
          font-size: 65px;
        }
      }

      .titmaain{
        margin: 0 0 60px;
        color: #292929;
        font-size: 40px;
        font-weight: 600;
        line-height: 1;
      }

      .whatsnew{
        margin: 0 0 -35px -35px;
        
        > li{
          display: grid;
          place-items: center;
          grid-template-columns: repeat(3, minmax(366px, auto));
          row-gap: 40px;
        }
      }
    }
  }
}