.Join {
  margin: 200px auto;
  .hidden {
    display: none;
  }
  li {
    list-style: none;
  }
  a {
    color: blue;
  }
  #Join-form {
    margin: 0 auto;
    width: 500px;
    #join-input {
      margin-top: 40px;
      margin-bottom: 20px;
      .input-li {
        margin: 20px auto;
        label {
          color: gray;
        }
        input {
          width: 100%;
          border: 0px;
          border-bottom: 1px solid black;
          padding: 7px 5px;
          outline: none;
          font-size: 20px;
          transition: border-color 0.5s;
          &:focus {
            border-color: orange; // 클릭시 border 색상 변경
          }
          &:focus::placeholder {
            //엣지에선 안됨
            color: transparent;
          }
        }
        #input-li-addr {
          display: flex;
          justify-content: space-between;
          padding-bottom: 50px;
          input {
            width: 80%;
            margin: 0px;
          }
          button {
            padding: 5px;
          }
        }
        #birth-label {
          padding: 5px;
          margin-bottom: 10px;
        }
        .boxecal {
          display: flex;
          justify-content: start;
          padding-bottom: 50px;
          padding-top: 10px;
          select {
            min-width: 150px;
            background-color: #fff;
            font-weight: 500;
            height: 42px;
            border: 1px solid rgba(112, 112, 112, 0.575);
            padding: 0 20px;
            padding-right: 50px;
            cursor: pointer;
            font-size: 15px;
            font-weight: 800;
          }
        }
        p {
          margin-bottom: 40px;
        }
        .message {
          color: green;
        }
        .message.error {
          color: red;
        }
      }
    }
    #join-btn {
      border: 1px solid orange;
      margin: 20px 0px;
      width: 100%;
      height: 40px;
      background-color: orange;
      font-size: 17px;
      border-radius: 5px;
    }
  }
}
