#menu-form{
    margin: auto;
    width: 1150px;
    #select{
        height: 80px;
        margin: auto;
        display: flex;
        text-align: center;
        gap: 60px;
        left: 50%;
        justify-content: center;
        padding-top: 10px;
        .select-btn{
            font-size: 20px;
            font-weight: 700;
            color: gray;
            background-color: white;
            border: 0px;
            border-bottom: 1px solid white;
            padding-top: 15px;
            margin: 10px;
            vertical-align: center;           
            height: 50px;
            &.active{
                border-bottom: 1px solid red;
                font-size: 20px;
                font-weight: 900;
                color: red;
            } 
        }
    }
    #prd-count {
        font-weight: 500;
        margin-bottom: 15px;
        &::before{
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            margin: -2px 10px 0 0;
            vertical-align: middle;
            border-radius: 100%;
            background: #f5bd43;
        }
    }
    .menu-grid{
        //상품목록을 가로3칸 세로 2칸으로 정렬함
        width: 1150px;
        display: grid;
        grid-template-columns: repeat(3,  minmax(100px, auto));
        grid-template-rows: repeat(2,  minmax(200px, auto));
        row-gap: 30px;
        column-gap: 30px;
    }
    #btnMore-box{
        width: 100%;
        margin: 50px 0px;
        .btnMore{
            border-radius: 50%;
            width: 100px;
            height: 100px;
            position: relative;
            background-color: #f5bd43;
            border: #f5bd43;
            display: block;
            margin: auto;
            
            &::before{
                content: "\002B";//+기호 유니코드
                position: absolute;
                left: 15%;
                top: -25px;
                font-size: 100px;
                font-weight: 100;
            }
        }
    }
}